[Unit]
Description = Change desktop background to a random image in %h/Pictures/backgrounds

[Service]
Type = oneshot
ExecStart = %h/.local/bin/rotate-background.sh
